<h1 class = "head">Skills Dashboard</h1>
<div id="list_item">
<ul>
  <li class = "list"><a href="/skills">Skill Index</a></li>
  <li class = "list"><a href="/skills/new">New Skill</a></li>
</ul>
</div>