<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/application.css">
  <title>Skill Inventory</title>
</head>
<body>
  <%= yield %>
  <footer id = "foot">
    Created by Paul and DJ</footer>
</body>
</html>
